<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test task</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

  <nav>
    <ul>
      <li>Pipedrive</li>
      <li>Deals</li>
      <li>Activities</li>
      <li>User</li>
    </ul>
  </nav>


<div id="sidebar"></div>

<div id="content">

</div>

<!-- Templates -->

<script type="text/template" id="tpl-client-name-list">

  <div class="sidebar">
    <a href='#client/<%= id %>'>
      <div class="client"> 
          <div class="name">
            <%= name %>
          </div>
          <div class="company">
            <%= email %>
          </div>
      </div>
    </a>
  </div>


</script>

<script type="text/template" id="tpl-client-details">

<div class="title client-name">

        <h1>Henrius Maximus</h1>

      </div>

      <div class="title deals">
        <h1>Deals</h1>
      </div>

      <div class="details-background">

    <table class="client-details">
      <tr>
        <th>Name: </th>
        <td><%= name %></th>
      </tr>
      <tr>
        <th>Id: </td>
        <td><%= id %></td>
      </tr>
       <tr>
        <th>Username: </td>
        <td><%= username %></td>
      </tr>
    </table>

    <table class="client-deals">
    <tr>
      <th>Street</th>
      <td><%= address.street %></th>
    </tr>
    <tr>
      <th>City</td>
      <td><%= address.city %></td>
    </tr>
  </table>

    </div>


</script>

 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js">
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

  <script src="js/models/client.js"></script>
  <script src="js/collections/clients.js"></script>
  <script src="js/views/clientDetailsView.js"></script>
  <script src="js/views/clientOneView.js"></script>
  <script src="js/views/clientsView.js"></script>
  <script src="js/router.js"></script>
 

</body>
</html>