<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test task</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
 
<nav>
  
<ul>

  <li><a id="logo" href="#">Pipedrive</a></li>

  <li><a id="deals" href="#">
    <span id="deals_logo"></span>
    <span id="label">Deals</span>
  </a></li>

   <li><a id="activities" href="#">
    <span id="activities_logo"></span>
    <span id="label">Activities</span>
  </a></li>


   <li><a id="clients" href="#">
    <span id="clients-icon"></span>
  </a></li>


   <li><a id="organisations" href="#">
    <span id="organisations-icon"></span>
  </a></li>

  <li id="user" ><a  href="#">
    <span id="user-module">
    <span id="user-picture"></span>
    <span id="username">
    <span id="label">kasutaja</span>
    <span id="company">Firma</span> 
    </span>
    <span id="arrow_down"></span>
    </span>
  </a></li>

</ul>
  
</nav>

<div id="sidebar"></div>

<div id="details"></div>



<!-- Templates -->

<script type="text/template" id="tpl-client-name-list">

  <div class="sidebar">
    <a id = "hello" href='#client/<%= id %>/'>
      <div class="client"> 
          <div class="name">
            <%= name %>
          </div>
          <div class="company">
            <%= org_name %>
          </div>
      </div>
    </a>
  </div>


</script>


<script type="text/template" id="tpl-client-details">

<div class="title" id="client-name">

        <h1 ><%= name %></h1>

      </div>

      <div class="title" id="deals-title">
        <h1>Deals</h1>
      </div>
</div>

<div class="details-background">

    <table class="client-details">
      <tr>
        <th>Phone</th>
        <td><%= typeof(phone.value)!== 'undefined' ?  name : 'no phone number added' %></th>
      </tr>
      <tr>
        <th>E-mail</td>
        <td><%= typeof(email.value)!== 'undefined' ?  org_id.value : 'no e-mail address added' %></td>
      </tr>

       <tr>
        <th>Added </td>
        <td><%= typeof(add_time)!== 'undefined' ?  add_time : 'add time unknown' %></td>
      </tr>

      <tr>
        <th>Open deals</td>
        <td><%= open_deals_count %></td>
      </tr>

      <tr>
        <th>Next activity</td>
        <td><%= next_activity_date %></td>
      </tr>
      <tr>
        <th>Last activity</td>
        <td><%= last_activity_date %></td>
      </tr>
    </table>

<div id="deals-table"></div>

  </div>


    </script>


        <table>

<script type="text/template" id="tpl-client-deals">


    <tr>
      <th><%= title %></th>
      <td><%= formatted_value %></td>
    </tr>
  
</script>
  </table >





 
  
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js">
 </script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

  <script src="js/models/client.js"></script>
  <script src="js/collections/clients.js"></script>
  <script src="js/collections/deals.js"></script>
  <script src="js/views/ClientDetailsView.js"></script>
  <script src="js/views/ClientListViewMaker.js"></script>
  <script src="js/views/ClientNameListView.js"></script>

   <script src="js/views/DealsList.js"></script>
  <script src="js/views/DealsView.js"></script>
  <script src="js/views/DealsViewMaker.js"></script>
  <script src="js/router.js"></script>
 

</body>
</html>