body {
  background-color: 
}

nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

nav ul li {
  margin: 20px;
}


.sidebar {
  float: left;
  background-color: pink;
  height: 100vh;
  width: 25%;


}

.name {
  padding-top: 21.440px;
}

.title {
display: inline-block;
width: 32%;
margin-left: 20px;




}

.details-background {
  background-color: blue;



}

table {

  display: inline-block;
  width: 32%;
  margin-left: 20px;
  padding: 20px 0px 20px 0px;

}


th {
  text-align: left;
}


table.client-details > tbody > tr > th {

  width: 100px;
  
}

table.client-deals > tbody > tr > th {

  width: 200px;
  
}
















