body {
  background-color: linen;
}

nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

nav ul li {
  margin: 20px;
}


.sidebar {
  float: left;
  background-color: pink;
  height: 100vh;
  width: 25%;


}

.name {
  padding-top: 21.440px;
}

.title {
display: inline-block;
width: 36%;

}

.client-name{
  margin-left: 2%;
}



.details-background {
  background-color: white;
  margin-left: 27%;
  margin-right: 2%;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding: 20px 0px 20px 0px;

}

table {

  display: inline-block;
  width: 48%;

}

.client-details {
  margin-left: 2%;
}


.client-deals {
  border: 1px solid gray;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0px;
  float: right;
  margin-right: 2%;
  display: table;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;

}


th {
  text-align: left;
}


table.client-details > tbody > tr > th {

  width: 100px;
  
}


table.client-deals > tbody > tr > th {

  width: 30%;

  
}

table.client-deals > tbody > tr > td {

  text-align: right;
  
  
}

table.client-deals > tbody > tr:nth-child(even){background: #FFF;
}

table.client-deals > tbody > tr:nth-child(odd){
  background: #CCC;

}


























